.container {
  display: inline-block;
  /* background: #ff0000; */
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
}

.swipeimage {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  object-fit: cover;
  z-index: 9;
  opacity: 0;
  visibily: hidden;
  pointer-events: none;
}
